html {
    font-size: 10px;
}
html,
body {
    height: 100%;
}

body {
    padding-bottom: 5rem;
}

header {
    width: 100%;
    background-color: #ECF3F3;
    text-align: center;
}

header strong {
    vertical-align: middle;
    color: #3498db;
    font-size: 2rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: table;
    background-color: black;
    left: 0;
    right: 0;
    height: 5rem;
    text-align: center;
}

footer strong {
    display: table-cell;
    vertical-align: middle;
    font-size: 2rem;
    color: white;
}

#app {
    display: flex;
    align-items: center;
    position: relative;
    height: calc(100% - 3rem);
}

.container {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    padding: 1%;
}

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.main button {
    display: block;
    margin: 0 auto;
    margin-top: .5rem;
}

.chatlist_container {
    height: 80%;
    border: 1px solid black;
    overflow-y: scroll;
}

.inputfield_container {
    height: 10%;
    padding: 1rem;
    text-align: center;
}

.inputfield_container input {
    width: 50%;
    display: inline-block;
    border-color: #4e4e4e;
}

.inputfield_container button {
    margin-left: 1rem;
}

.chat {
    padding: 0 2rem;
    font-size: 1.5rem;
}
.chat.send{
    text-align: right;
}

.talk-bubble {
    margin: 1rem;
    display: inline-block;
    position: relative;
    max-width: calc(60% - 2rem);
    height: auto;
    background-color: #9b59b6;
}

// .tri-right.left-in:after {
//     content: ' ';
//     position: absolute;
//     width: 0;
//     height: 0;
//     left: -2rem;
//     right: auto;
//     top: 2.7rem;
//     bottom: auto;
//     border: 1.2rem solid;
//     border-color: #9b59b6 #9b59b6 transparent transparent;
// }
.tri-right.left-in.send:after{
    left: auto;
    right: -2rem;
    border: none;
}

.talktext {
    padding: 1rem;
    text-align: left;
    line-height: 1rem;
}

.talktext p {
    /* remove webkit p margins */
    word-break: break-word;
    -webkit-margin-before: 0rem;
    -webkit-margin-after: 0rem;
    font-size: 1.7rem;
    line-height: 1.6rem;
}
#typing{
    width: 100%;
    height: 2.5rem;
    display: block;
}
.visible{
    opacity: 1;
}
.hidden{
    opacity: 0;
}
.online-list {
    width: 100%;
    list-style-type: none;
    padding: 0 10px;
    white-space: no-wrap;
    overflow-x: auto;
    margin-bottom: 2px;
}
.online-list-item {
    display: inline-block;
    padding: 0 10px;
}
@media(min-width: 768px) {
    html {
        font-size: 12px;
    }
}
