html,
body {
    height: 100%;
}

body {
    padding-bottom: 50px;
}

header {
    width: 100%;
    display: table;
    background-color: #ECF3F3;
    text-align: center;
    height: 50px;
}

header strong {
    display: table-cell;
    vertical-align: middle;
    color: #3498db;
    font-size: 45px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: table;
    background-color: black;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
}

footer strong {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color: white;
}

#app {
    display: flex;
    align-items: center;
    position: relative;
    height: 90%;
}

.container {
    height: 80%;
    border: 1px solid black;
    padding: 20px;
}

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.main button {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.chatlist_container {
    height: 90%;
    border: 1px solid black;
    overflow-y: scroll;
}

.inputfield_container {
    height: 10%;
    padding: 10px;
    text-align: center;
}

.inputfield_container input {
    width: 50%;
    display: inline-block;
    border-color: #4e4e4e;
}

.inputfield_container button {
    margin-left: 10px;
}

.chat {
    padding: 0 20px;
}

.talk-bubble {
    margin: 40px;
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    background-color: #9b59b6;
}

.tri-right.left-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 27px;
    bottom: auto;
    border: 12px solid;
    border-color: #9b59b6 #9b59b6 transparent transparent;
}

.talktext {
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

.talktext p {
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
